force-app/main/default/flows/CMS_Onboarding_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <dynamicChoiceSets>
        <name>Asset_Class</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asset_Class__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>colAccountName</name>
        <collectionReference>Get_Accounts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpectedMonth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expect_Month_Quarter__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExpectedYear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Year__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>onboarding_stage_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onboarding_Stage__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>onboarding_status_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onboarding_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Lines</name>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <object>OpportunityLineItem</object>
        <valueField>Product_Name__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AsssetClass</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Asset_Class_Picklist}), 
  &quot;[]&quot;, 
  SUBSTITUTE({!Asset_Class_Picklist}, &quot;;&quot;, &apos;&quot;,&quot;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>json</name>
        <dataType>String</dataType>
        <expression>&quot;{&quot;
&amp; CHR(34) &amp; &quot;id&quot; &amp; CHR(34) &amp; &quot;:&quot; &amp; CHR(34) &amp; {!varCaseId} &amp; CHR(34)
&amp; IF(
    ISBLANK({!metadata}),
    &quot;&quot;,
    &quot;,&quot; &amp; {!metadata}
  )
&amp; &quot;}&quot;</expression>
    </formulas>
    <formulas>
        <name>varExpectedTiming</name>
        <dataType>String</dataType>
        <expression>{!Expected_Timing_Month_Quarter} &amp; &quot; &quot; &amp; {!Expected_Year}</expression>
    </formulas>
    <interviewLabel>CMS Onboarding Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMS Onboarding Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CMS_Case</name>
        <label>Create CMS Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_CMS_Metadata</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Names__c</field>
            <value>
                <elementReference>Account_Names</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Class__c</field>
            <value>
                <elementReference>Asset_Class_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Banker__c</field>
            <value>
                <elementReference>banker_choice.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Start_Date__c</field>
            <value>
                <elementReference>Billing_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMS_Metadata__c</field>
            <value>
                <elementReference>metadata</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Co_InvestorPC__c</field>
            <value>
                <elementReference>private_credit_co_Investor_choice.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collateral__c</field>
            <value>
                <elementReference>collateral_choice.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commentary__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Month_To_Deliver__c</field>
            <value>
                <elementReference>varExpectedTiming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>Facility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lender__c</field>
            <value>
                <elementReference>lender_choice.selectedChoiceLabels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Data_Package__c</field>
            <value>
                <elementReference>New_Data_Package</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Stage__c</field>
            <value>
                <elementReference>status_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <elementReference>cms_status_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>CMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Private_Credit_Deal__c</field>
            <value>
                <elementReference>Private_Credit_Deal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Feature Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Hp0000013yrQIAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_CMS_Metadata</name>
        <label>Update Case CMS Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CMS_Metadata__c</field>
            <value>
                <elementReference>json</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Onboarding_Info</name>
        <label>Onboarding Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CMS_Case</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <choiceReferences>Product_Lines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Client Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Facility</name>
            <dataType>String</dataType>
            <fieldText>Facility</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>CF</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_Names</name>
            <dataType>String</dataType>
            <fieldText>Account Names</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Product</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>CF</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>status_picklist</name>
            <choiceReferences>onboarding_stage_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cms_status_picklist</name>
            <choiceReferences>onboarding_status_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Data_Package</name>
            <dataType>Boolean</dataType>
            <fieldText>New Data Package</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Private_Credit_Deal</name>
            <dataType>Boolean</dataType>
            <fieldText>Private Credit Deal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>private_credit_co_Investor_choice</name>
            <choiceReferences>colAccountName</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Private Credit Co-Investor</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Private_Credit_Deal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lender_choice</name>
            <choiceReferences>colAccountName</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Lender</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>collateral_choice</name>
            <choiceReferences>colAccountName</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Collateral</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>banker_choice</name>
            <choiceReferences>colAccountName</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Banker</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Expected_Timing_Month_Quarter</name>
            <choiceReferences>ExpectedMonth</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expected Timing (Month/Quarter)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_Year</name>
            <choiceReferences>ExpectedYear</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expected Timing (Year)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Billing Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>PriorityChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_ARR</name>
            <dataType>Currency</dataType>
            <fieldText>Expected ARR</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Deadline</name>
            <dataType>String</dataType>
            <fieldText>Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asset_Class_Picklist</name>
            <choiceReferences>Asset_Class</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Consumer</stringValue>
            </defaultValue>
            <fieldText>Asset Class</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>metadata</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;clientDescriptionFacility&quot;: &quot;{!Description}&quot;,
&quot;productOfferingRevenueStream&quot;: &quot;{!Product}&quot;,
&quot;newDataPackage&quot;: &quot;{!New_Data_Package}&quot;,
&quot;pcDeal&quot;: &quot;{!Private_Credit_Deal}&quot;,
&quot;targetARR&quot;: &quot;{!Expected_ARR}&quot;,
&quot;dateAdded&quot;: &quot;{!$Flow.CurrentDate}&quot;,
&quot;salesAmOwner&quot;: &quot;{!Get_Opportunity.Owner.FirstName}&quot;,
&quot;salesAmCommentaryDescription&quot;: &quot;{!Comment}&quot;,
&quot;timingExpectedMonthToOnboard&quot;: &quot;{!varExpectedTiming}&quot;,
&quot;assetClass&quot;: &quot;{!AsssetClass}&quot;,
&quot;billingStartDate&quot;: &quot;{!Billing_Start_Date}&quot;,
&quot;caseStatus&quot;: &quot;New&quot;,
&quot;client&quot;: &quot;{!Get_Opportunity.Account.Name}&quot;,
&quot;cmsStage&quot;: &quot;{!status_picklist}&quot;,
&quot;cmsStatus&quot;: &quot;{!cms_status_picklist}&quot;,
&quot;facility&quot;: &quot;{!Facility}&quot;,
&quot;cfAccountNames&quot;:&quot;{!Account_Names}&quot;,
&quot;coInvestorPC&quot;: &quot;{!private_credit_co_Investor_choice.selectedChoiceLabels}&quot;,
&quot;lender&quot;: &quot;{!lender_choice.selectedChoiceLabels}&quot;,
&quot;collateral&quot;: &quot;{!collateral_choice.selectedChoiceLabels}&quot;,
&quot;banker&quot;: &quot;{!banker_choice.selectedChoiceLabels}&quot;,
&quot;deadline&quot;: &quot;{!Deadline}&quot;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
