force-app/main/default/flows/Opp_Closed_Won_Message_FollowTheMoney.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Tags Monica in a message to FollowtheMoney</description>
        <name>ClosedWonNewLogo</name>
        <label>ClosedWonNewLogo</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02P020SL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>CB73X6E1G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>SlackWonMessageNewLogo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ClosedWonNotNewLogo</name>
        <label>ClosedWonNotNewLogo</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02P020SL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>CB73X6E1G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>SlackWonMessageNotNewLogo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Opportunity_is_Closed_Won</name>
        <label>Opportunity is Closed Won</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ClosedWonNotNewLogo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a New Logo</defaultConnectorLabel>
        <rules>
            <name>New_Biz_New_Logo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business_new logo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClosedWonNewLogo</targetReference>
            </connector>
            <label>New Biz New Logo</label>
        </rules>
    </decisions>
    <description>Sends a message in FollowTheMoney</description>
    <environments>Default</environments>
    <interviewLabel>Opp Closed Won Message FollowTheMoney {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Closed Won Message FollowTheMoney</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_is_Closed_Won</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>SlackWonMessageNewLogo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Woohoo! {!$Record.Owner.FirstName} closed {!$Record.Type} {!$Record.Name} with a annual revenue of {!$Record.Amount}! @monica</text>
    </textTemplates>
    <textTemplates>
        <name>SlackWonMessageNotNewLogo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Woohoo! {!$Record.Owner.FirstName} closed {!$Record.Type} {!$Record.Name} with a annual revenue of {!$Record.Amount}!</text>
    </textTemplates>
</Flow>
