force-app/main/default/flows/Opportunity_Status_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AmountIsChanged</name>
        <label>AmountIsChanged</label>
        <locationX>242</locationX>
        <locationY>684</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02P020SL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08A6BZFU81</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>OppAmountUpdate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Sends Slack message of Opportunity Stage</description>
        <name>Opportunity_Update</name>
        <label>OppStageUpdate</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Is_Amount_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02P020SL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C08A6BZFU81</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>OppStageUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>SlackChannel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CB73X6E1G</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Amount_Changed</name>
        <label>Is Amount Changed?</label>
        <locationX>374</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AmountChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmountIsChanged</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stage_Changed</name>
        <label>Is Stage Changed?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Is_Amount_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>posts Opportunity Stage &amp; Amount to Slack channel salesforce-opp-updates</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Status Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stages &amp; Amount Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_Stage_Changed</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OppAmountUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} opportunity with monthly revenue of {!$Record.Amount}</text>
    </textTemplates>
    <textTemplates>
        <name>OppStageUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} opportunity status is now {!$Record.StageName} stage</text>
    </textTemplates>
    <textTemplates>
        <name>SlackWonMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Woohoo! {!$Record.Owner.FirstName} closed {!$Record.Name} with a monthly revenue of {!$Record.Amount}!</text>
    </textTemplates>
</Flow>
