force-app/main/default/flows/Related_To_Campaign_Related_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_If_Member_Exists</name>
        <label>Check If Member Exists</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_not_exist_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaignMember.LeadOrContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_3</targetReference>
            </connector>
            <label>Does not exist &amp; Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_Exists</name>
        <label>Check if Record Exists as Campaign</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedtoById.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_This_Event</targetReference>
            </connector>
            <label>Yes, It Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact</name>
        <label>Contact?</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_to_Campaign_Member</targetReference>
            </connector>
            <label>Yes, It is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_3</name>
        <label>Lead?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_to_Campaign_Member</targetReference>
            </connector>
            <label>Yes, It Is Lead</label>
        </rules>
    </decisions>
    <description>v2</description>
    <environments>Default</environments>
    <interviewLabel>Related To Campaign -&gt; Related Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Related To Campaign -&gt; Related Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Contact_to_Campaign_Member</name>
        <label>Add Contact to Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting Held</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Lead_to_Campaign_Member</name>
        <label>Add Lead to Campaign Member</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting Held</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>to check if it exists</description>
        <name>GetCampaignMember</name>
        <label>Get Campaign Member</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Member_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRelatedtoById.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedtoById</name>
        <label>Get Related to By Id</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_This_Event</name>
        <label>Update This Event</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>GetCampaignMember</targetReference>
        </connector>
        <inputAssignments>
            <field>Related_Campaign__c</field>
            <value>
                <elementReference>GetRelatedtoById.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedtoById</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varInviteesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
</Flow>
