force-app/main/default/flows/UpdateJiraClient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>add to jira client field option</description>
        <name>Append_Account_Name_to_Client_Field</name>
        <label>Append Account Name to Client Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DatabricksJiraClientSyncFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Client_Name_is_Added</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account_name</name>
            <value>
                <elementReference>GetAccount.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DatabricksJiraClientSyncFlowAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T02P020SL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdForToken</name>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C040XBXBK4H</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackBotName</name>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Append_Account_Name_to_Client_Field.message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>viewApiName</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_if_Client_Name_is_Added</name>
        <label>Check if Client Name is Added</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Added_Jira_Client_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Append_Account_Name_to_Client_Field.message</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>added </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message</targetReference>
            </connector>
            <label>Added JIRA Client Name</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the client name already populated in Salesforce JiraClientField</description>
        <name>Exists_in_Jira</name>
        <label>Exists in Jira?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.JiraClientName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAccount.JiraClientName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Account_Name_to_Client_Field</targetReference>
            </connector>
            <label>Does Not Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateJiraClient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateJiraClient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists_in_Jira</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
